---
title: Other activities
permalink: /others/
---

<section>
    <h2>
        Phd Students Supervision
    </h2>

    <ul>
        {% for phd in site.data.phd_students %}
        <li>
            {{ phd.name }} ({{ phd.date }}): <em><strong>"{{phd.title}}"</strong></em>.
            Financed by: {{ phd.founder }}. Supervision: {{ phd.supervision }}
        </li>
        {% endfor %}
    </ul>

</section>


<section>
    <h2>Conference and Workshop Organization</h2>
    <ul>
        {% for member in site.data.conf_org %}
        <li>
            {{ member.title }}
            {{ member.info }}
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>Editorial Board Member</h2>
    <ul>
        {% for member in site.data.editor %}
        <li>
            {{ member.title }}						
            <p>{{ member.editors }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    
    <h2>Reviewer for</h2>
    <ul>
        <li> {{ site.data.reviewer.journal }}      
        </li>
        <li> {{ site.data.reviewer.conference }}      
        </li>
    </ul>

</section>