---
title: Publications
permalink: /publications/
---

<p>
    All my publications are being listed here. You can also find them in the following public repositories: <a href="https://hal.archives-ouvertes.fr/search/index/?q=%2A&authIdHal_s=frederic-flouvat&sort=producedDate_tdate+desc">HAL</a>, <a href="https://dblp.org/pid/53/1920.html">DBLP</a>, and <a href="https://scholar.google.com/citations?user=sT3tk78AAAAJ&hl=fr">Google Scholar</a>.
</p>

<p>
    You can also find here my Habilitation thesis and my PhD thesis (in french).
    <ul>
        <li>"Mining spatio-temporal patterns: colocations, sequences and dynamic attributed graphs" (Habilitation thesis) <a href="https://hal.archives-ouvertes.fr/tel-02382032/document">[Manuscript]</a> <a href="https://tel.archives-ouvertes.fr/tel-00844480/document">[Presentation]</a>
        </li>
        <li>"Towards adaptive and generic solutions for interesting pattern mining in data" (PhD thesis) <a href="https://tel.archives-ouvertes.fr/tel-00844480/document">[Manuscript]</a>
        </li>     
    </ul>
</p>



<section>
    <section>
	<h4>International Publications</h4>
	
        <h5>Peer-reviewed Journals</h5>
			<ol style="font-size: smaller">
				{% for member in site.data.international_journ %}
				<li>
					{{ member.authors }}
					<strong>{{ member.title }}</strong>
					{{ member.info }}
				</li>
				{% endfor %}
			</ol>
			
			<h5>Peer-reviewed Book chapters</h5>
			<ol style="font-size: smaller">
				{% for member in site.data.international_book %}
				<li>
					{{ member.authors }}
					<strong>{{ member.title }}</strong>
					{{ member.info }}
				</li>
				{% endfor %}
			</ol>
			
			<h5>Peer-reviewed Conferences &amp; Workshops</h5>
			<ol style="font-size: smaller">
				{% for member in site.data.international_conf %}
				<li>
					{{ member.authors }}
					<strong>{{ member.title }}</strong>
					{{ member.info }}
					<br />
					<smaller>{{ member.stat }}</smaller>
					
				</li>
				{% endfor %}
			</ol>
    </section>
	
    <section>
    <h4>National Publications</h4>
		
        <h5>Peer-reviewed Journals</h5>
			<ol style="font-size: smaller">
				{% for member in site.data.national_journ %}
				<li>
					{{ member.authors }}
					<strong>{{ member.title }}</strong>
					{{ member.info }}
				</li>
				{% endfor %}
			</ol>
			
			
			<h5>Peer-reviewed Conferences &amp; Workshops</h5>
			<ol style="font-size: smaller">
				{% for member in site.data.national_conf %}
				<li>
					{{ member.authors }}
					<strong>{{ member.title }}</strong>
					{{ member.info }} 
					<br />
					<smaller>{{ member.stat }}</smaller>
				</li>
				{% endfor %}
			</ol>
			
			<h5>Invited presentations</h5>
			<ol style="font-size: smaller">
				{% for member in site.data.national_pres %}
				<li>
					{{ member.authors }}
					<strong>{{ member.title }}</strong>
					{{ member.info }}
				</li>
				{% endfor %}
			</ol>
			
    </section>
</section>